body {
   background: #171717 !important;
   color: rgb(246, 186, 251) !important;
   overflow-x: hidden;
}

.portada{
   position: relative;
   color: white !important;
   min-height: 500px;
   background-position: top center;
   background-size: cover;
   display: flex;
   align-items: flex-end;
   object-fit: contain;
}

.portada-content{
   margin-left: 30px;
   max-width: 70%;
   padding-bottom: 50px;
}

.portada-desc{
   background-image: linear-gradient(
        180deg,
        transparent,
        rgba(92, 75, 95, 0.61),
        rgb(34, 34, 34)
   );
  
}

form{
   text-align: center;
   margin: 20px;
}

.card {
   cursor: pointer;
}

.youtube-container{
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
}

