body {
   background: #171717 !important;
   color: rgb(246, 186, 251) !important;

}

.portada{
   position: relative;
   color: white !important;
   min-height: 500px;
   background-position: top center;
   background-size: cover;
   display: flex;
   align-items: flex-end;
}

.portada-content{
   margin-left: 30px;
   max-width: 70%;
   padding-bottom: 50px;
}

form{
   text-align: center;
}

.card {
   cursor: pointer;
}

.youtube-container{
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
}

